/* substack.dark.css */
:root {
    --web_bg_color: #000 !important;
    --color-primary-themed: #fff !important;
    --color-secondary-themed: #444 !important;
    --color-fg-primary: #444 !important;
    --color-bg-secondary-themed: #fff !important;
    --print_on_web_bg_color: #444 !important;
    --background_contrast_1: #000 !important;
    --print_secondary_on_web_bg_color: #444 !important;
    --color-fg-secondary: #444 !important;
    --print_secondary: #444 !important;
    --background_contrast_2: #000 !important;
    --color-detail-themed: #e6e6e6 !important;
    --color-accent-themed: #9e9e9e !important;
}

._pubTheme_ztq6h_1 {
    --color-fg-primary: #444 !important;
    --color-bg-secondary: #eee !important;

    --color-button-primary-bg: #ddd !important;
    --color-button-primary-fg: #000 !important;
    --color-button-primary-bg-hover: #aaa !important;

    --color-button-secondary-bg: #ddd !important;
    --color-button-secondary-fg: #000 !important;
    --color-button-secondary-bg-hover: #aaa !important;
}